{% extends 'base.html'%}
{% block content%}
<link rel="stylesheet" href="{{STATIC_URL}}css/picture-slides.css" type="text/css">
<script type="text/javascript" src="{{STATIC_URL}}js/jqueryImgene.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/PictureSlides-jquery-2.0.js"></script>
<script type="text/javascript">
		jQuery.PictureSlides.set({
			// Switches to decide what features to use
			useFadingIn : true,
			useFadingOut : true,
			useFadeWhenNotSlideshow : true,
			useFadeForSlideshow : true,
			useDimBackgroundForSlideshow : true,
			loopSlideshow : false,
			usePreloading : true,
			useAltAsTooltip : true,
			useTextAsTooltip : false,
			
			// Fading settings
			fadeTime : 500, // Milliseconds	
			timeForSlideInSlideshow : 2000, // Milliseconds

			// At page load
			startIndex : 1,	
			startSlideShowFromBeginning : true,
			startSlideshowAtLoad : false,
			dimBackgroundAtLoad : false,

			// Large images to use and thumbnail settings
			images : [
				{% for campo in contenido %}
				{
					image : "{{ campo.urlfoto }}", 
					alt : "Imagenes",
					text : "Imagenes"
				},{% endfor %}
				
				
			],
			thumbnailActivationEvent : "click",

			// Classes of HTML elements to use
			mainImageClass : "picture-slides-image", // Mandatory
			mainImageFailedToLoadClass : "picture-slides-image-load-fail",
			imageLinkClass : "picture-slides-image-link",
			fadeContainerClass : "picture-slides-fade-container",
			imageTextContainerClass : "picture-slides-image-text",
			previousLinkClass : "picture-slides-previous-image",
			nextLinkClass : "picture-slides-next-image",
			imageCounterClass : "picture-slides-image-counter",
			startSlideShowClass : "picture-slides-start-slideshow",
			stopSlideShowClass : "picture-slides-stop-slideshow",
			thumbnailContainerClass: "picture-slides-thumbnails",
			dimBackgroundOverlayClass : "picture-slides-dim-overlay"
		});

	function validarForm(formulario) {
	   if(formulario.descripcion.value.length==0) { //comprueba que no esté vacío
		formulario.descripcion.focus();   
		alert('Requiere de comentario'); 
		return false; //devolvemos el foco
	  }
	  
	 	alert('Su comentario sera enviado..!');	  
	  return true;
}
</script>
<!-- title -->

<div id="page-title">
	{% for campo in albumes %}
	<span class="title">
	<img src="{{STATIC_URL}}{{ campo.foto }}" title="Portada" alt="" width="70" height="70"/></a> {{ campo.nombre }}</span>
	<span class="subtitle">Descripcion: {{ campo.descripcion }}</span>
	{% endfor %} 
					
</div>
<!-- ENDS title -->

<!-- Posts -->
<div id="posts" class="single">
	<!-- post -->
	<div class="post">
		<!-- shadow -->
		<div class="thumb-shadow">
		
			<!-- post-thumb -->
			<div class="post-thumbnailin">
				<div id="container">
		
		<div class="picture-slides-container">
			{% for campo2 in albumes %}<div class="picture-slides-fade-container">
				<a class="picture-slides-image-link">										
					<img class="picture-slides-image" src="{{STATIC_URL}}{{ campo2.foto }}" alt="Foto Album" />					
				</a>
				
			</div>		{% endfor %} 	
					
			<div class="navigation-controls">
				<a href="#" class="picture-slides-previous-image"><<</a>
				<span class="picture-slides-image-counter"></span>
				<a href="#" class="picture-slides-next-image">>></a>
		
				<a href="#" class="picture-slides-start-slideshow">Iniciar Presentacion</a>
				<a href="#" class="picture-slides-stop-slideshow">Parar Presentacion</a>
			</div>					
		</div>
	</div>
		
			</div>
			<!-- ENDS post-thumb -->
			
		</div>
		<!-- ENDS shadow -->
		
	</div>
	<!-- ENDS post -->
	<!-- Comments-Block -->
					<div id="comments-block">
						<div class="n-comments"> {{ cantidadComentario  }} </div> <div class="n-comments-text">Comentarios</div>
		
						<!-- comments list -->
						<ul class="commentlist">
						{% for aux in comentarioAlbum %}
						<form enctype="multipart/form-data" name="form3" method="post" action=".">
							<li class="comment" id="comment-18">
								<div id="div-comment-18" class="comment-body">
									<div class="comment-author vcard">
										<img alt='' src="{{STATIC_URL}}{{ aux.userComentador.usuarioperfil.foto }}" class='avatar avatar-60 photo' height='60' width='60' />
										<cite class="fn">{{ aux.userComentador.last_name }} {{ aux.userComentador.first_name }}</cite><span class="says"> escribió:</span>
									</div>										
									<p>{{ aux.descripcion }}  </p>
					
									<div class="reply">
										<a class='comment-reply-link' href='#' onclick='return addComment.moveForm("div-comment-18", "18", "respond", "196")'>Reply</a>
									</div>
									<div class="like">
										<a class='comment-reply-link' href='#' onclick='return addComment.moveForm("div-comment-18", "18", "respond", "196")'>like</a>
									</div>
								</div>
							</li>
						</form> 
						{% endfor %} 
						</ul>
						<!-- ENDS comments list -->
		
			
						<!-- Navi -->
						<div class="comments-pagination">
						<a class='prev page-numbers' href='http://localhost:8888/archives/586/comment-page-1#comments'>&laquo; Previous</a>
						<a class='page-numbers' href='http://localhost:8888/archives/586/comment-page-1#comments'>1</a>
						<span class='page-numbers current'>2</span>	</div>
						<!-- ENDS Navi -->
		
						<!-- comments form -->
						<div id="respond">
							<div class="leave-comment">
								<h2>De su opinion sobre el album</h2>	
								<!-- form -->
								 {% for campo in albumes %}
								<form action="{% url 'misComentarios' campo.id %}" method="post" id="commentform" onsubmit="return validarForm(this);">
								 {% csrf_token %}
									<fieldset>									
										<div class="admin-form">
											<div>
											   <label >Comentario</label>												
												{% for aux in formulario %}
												{{aux}}
												{% endfor %}												
											</div>
											<div><input type="submit" name="enviar" id="submit" tabindex="5" value="Enviar" /></div>
											<div><input type="hidden" name="comment_post_ID" value="586" /></div>
										</div>
										<input type='hidden' name='comment_post_ID' value='586' id='comment_post_ID' />
										<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
									</fieldset>
								</form>
								 {% endfor %}
								<!-- ENDS form -->
							</div>
						</div>
						<!-- ENDS comments form -->	
					</div>
					<!-- ENDS Comments-block -->		
					
					
</div>
<!-- ENDS Posts -->	
	
{% endblock %}
