{% extends 'base.html'%}
{% block content%}
				<script>
	$(function() {
		$( "#datepicker" ).datepicker();
	});
	</script>


<!-- title -->
<div id="page-title">
	<span class="title">Mis notificaciones</span>
	<span class="subtitle">Estas son las solicutudes de amistad, comentarios de album o de contenido.</span>
</div>
<!-- ENDS title -->

<!-- Posts -->
<div id="posts">
 
	<!-- post -->
	<div class="post">
		{% for campo in informacion %}
		{% if campo.status %}
		<!-- shadow -->
		
		{% else %} 		
			<h4>
			{{campo.historia.usuario.first_name }}
		   		{{ campo.historia.usuario.last_name }}</h4>
		<!-- shadow -->
		<div class="thumb-shadow">
			<!-- ENDS post-thumb -->
			<div class="the-excerpt">
		   		
		   		{{ campo.descripcion }} {{ campo.status }}
		   		 <form name="form3"  method="post" enctype="multipart/form-data" action="{% url 'notificacionesAprobadas' campo.id campo.historia.usuario.id %}">
			  	 {% csrf_token %}
				 <label>
		       		<button class="btn btn-primary dropdown-toggle" type="submit" name="aceptar" value="{{ album.id }}">Aceptar</button> 
		       		</label> 
		       		<label> 
					<button class="btn btn-primary dropdown-toggle" type="submit" name="rechazar" value="{{ album.id }}">Rechazar</button> 
			
		 		 </label> 
		 		
			   	 </form>					       	
			</div>		
		</div>
 		{% endif %} 
 		  						       	 
 		{% endfor %}   						       	 
	</div>
</div>
<!-- ENDS post -->					
{% endblock %}
