{% extends 'base.html'%}
{% block content%}


<!-- title -->
<div id="page-title">
	<span class="title">Mis amigos</span>
	<span class="subtitle">Estos son los amigos a los que tengo agregado en mi red social</span>
</div>
<!-- ENDS title -->
<!-- gallery-->
<ul id="portfolio-list" class="gallery three-cols">
   {% for campo in persona %}
   <script language="Javascript"> 
	function confirmar(id){ 
	var ids = id
	confirmar=confirm("Deseas eliminar este amigo"); 
	if (confirmar) 
	// si pulsamos en aceptar		
	window.location.href = id;
	else 
	window.location.href = "{% url 'verAmigos' %}";
	//alert('No se eliminara'); 
	} 
	</script>
	<li class="pink">
		<a href="{% url 'perfilAmigo' campo.id %}" rel="group1"  title="{{campo.id}} Direccion:{{ campo.usuarioperfil.direccion }} 
	    Correo: {{ campo.email }}
	    Fecha de Nacimiento: {{ campo.usuarioperfil.fechanacimiento }}">
		<img src="{{STATIC_URL}}{{campo.usuarioperfil.foto}}"  width="250" height="250" >
		</a>
		<a rel="nofollow" href="javascript:confirmar('{% url 'borrarAmigo' campo.id %}')"> 
			<img class="alignleft" alt="cameraplus32.png" title="Eliminar" src="{{STATIC_URL}}img/mono-icons/stop32.png"  width="33" height="33"></img> 
		</a>
		<h4>{{ campo.first_name }} {{ campo.last_name }}</h4>
	</li>
	{% endfor %}   	
</ul>
	<!-- ENDS gallery -->						
{% endblock %}
