{% extends 'base.html'%}
{% block contenido%}
	<!-- content -->
					<div id="content">
						<table width="482" height="130" border="1" align="left">                                                         
				            <tr>
 							<td>
                                <label>
                                     <h4>Mis Albumes</h4>
                                </label>    							
                               <br> 
                               {% for album in albumes %}
						      	 <label> 
						       		<h5>{{ album.nombre }}</h5>
						       		Descripcion: {{ album.descripcion }} 
						       		<br/>
						       		<img src="{{STATIC_URL}}{{ album.foto}}" alt="{{album.foto}}" with="50" height="50"/>
						       		<a rel="nofollow" href="{% url 'agregarFoto' album.id %}"> <h7> Agregar fotos</h7> </a>
									<a rel="nofollow" href="{% url 'prueba' %}"> <h7>Ver</h7> </a>
						       	 </label>

						       	 <br/>

				                        
						       {% endfor %}                              
                                  
                                
						    </td>					                                          	                      
						   	<td>
                                <img src="{{STATIC_URL}}img/registro.png" alt="SocialAce" with="400" height="400" aling="left">  
                            </td>
                             
                           </table>
                      </div>
					<!-- ENDS content -->						
{% endblock %}
