{% extends 'base.html'%}
{% block content%}

<!-- title -->
<div id="page-title">
	<span class="title">Solicitar la amistad</span>
	
</div>
<!-- ENDS title -->
<!-- Posts -->
<div id="posts">
	<!-- post -->
	{% for campo in perfil %}
	<div class="post">
		<h3><a href="single.html">{{ campo.fkusuario.last_name }} {{ campo.fkusuario.first_name }}</a></h3>
		
		<!-- shadow Nuevo album-->
		<div class="thumb-shadow">
			<!-- post-thumb -->
			
			
			<!-- ENDS post-thumb -->
			<img src="{{STATIC_URL}}{{ campo.foto }}"  width="120" heigt="70" />
			<div class="the-excerpt">
				<p>{{ campo.fkusuario.username }}
			
				<stron>Direccion:</stron> {{ campo.direccion }}
	       		<strom>Twitter:</strom> {{ campo.twitter }}						       		
	       		<strom>Facebook:</strom> {{ campo.facebook }}
	       		<strom>Fecha de Nacimiento:</strom> {{ campo.fechanacimiento }}
	       		<form class="form-wrapper-01" id='formulario' method='post' enctype='multipart/form-data' action="" >
						        {% csrf_token %}
						        {% for campo in formulario %}
                  	 
									   		{{ campo }}
									   	 
									   {% endfor %}	
							   
					               <button class="btn btn-hg btn-primary" type="submit">Aceptar</button> 
						       </form></p>
			</div>		
		</div>
		<!-- ENDS shadow Nuevo album-->		
	</div>
	<!-- ENDS post -->	
	{% endfor %}
</div>
<!-- ENDS Posts -->
{% endblock %}
